.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    #6b7edf,
    #4d5ad2,
    #4945ce,
    #5e67c7,
    #3c54da
  );
  
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.feature {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #171717;
}

.description {
  font-size: 1.2rem;
  color: #3a3939;
  line-height: 1.6;
}